<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">

<div th:insert="blocks/nav :: nav"></div>

<main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-primary text-center">О нас</h2>
            </div>
            <div class="content" style="padding: 20px">
                <div class="row">
                    <div class="col-12" align="justify">
                        <p class="lead">
                            БГУИР - это большая и дружная семья - более 16 тысяч талантливых студентов, свыше 900
                            преподавателей и тысячи успешных выпускников, занимающих высокие должности и ответственные
                            посты.
                            <br>
                            У вас есть уникальная возможность стать частью этой семьи: станьте активным пользователем
                            нашего сайта, и вы всегда будете в курсе событий, происходящих в университете.
                            <br>
                            Сегодня Белорусский государственный университет информатики и радиоэлектроники - крупный
                            научно-образовательный центр Беларуси, располагающий кадровым, научным, методическим
                            потенциалом, современной лабораторной базой и разветвленной учебно-научной инфраструктурой.
                            <br>
                            Мы учитываем мировые тенденции в сфере образования, поэтому уверены - и дальше его роль в
                            подготовке инженерных и научных кадров в области информационных технологий,
                            радиоэлектроники, инфо- и телекоммуникаций, микро- и наноэлектроники будет возрастать.
                            <br>
                            Наш университет всегда готов делиться опытом и принимать перспективные инновации. Мы открыты
                            для плодотворного и взаимовыгодного сотрудничества, рады новым друзьям и гостеприимно
                            встречаем молодые таланты!
                            <br>
                            Миссия университета - подготовка специалистов с высшим образованием и кадров высшей научной
                            квалификации, способных воспринимать, генерировать и воплощать инновационные идеи, создавать
                            конкурентоспособную наукоемкую продукцию в области информатики и электроники.
                            <br>
                            Миссия осуществляется путем интеграции образовательной, научно-исследовательской и
                            инновационной деятельности, что обеспечивает формирование гармонично развитой личности,
                            способной активно участвовать в экономическом и социальном развитии общества, приверженной
                            идеалам патриотизма, гражданственности и национальной гордости.
                        </p>
                    </div>
                    <div class="col-12" align="center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1480.2687110174156!2d27.595168030375717!3d53.917887861842885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfa7d408bda3%3A0xbf9eab7e6e9a7d89!2z0JHQk9Cj0JjQoCwg0LrQvtGA0L_Rg9GBIOKEliAx!5e0!3m2!1sru!2sby!4v1715539419392!5m2!1sru!2sby"
                                width="75%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>



<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>

</body>

</html>